{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario USM</title>
    <link rel="stylesheet" href="{% static 'miapp/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'miapp/css/estilos.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img  class="img-fluid" src="static/miapp/imagenes/usm.png" alt="">
            </div>
        </div>
    </div>

    <div class="fondo d-flex justify-content-center align-items-center">
        <h1 class="text-white">fornite</h1>

    </div>

    {% block content %}

    {% endblock %}


    <script src="{% static 'js/bootstrap.js' %}"></script>  

</body>
</html>