{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario USM</title>
    <link rel="stylesheet" href="{% static 'miapp/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'miapp/css/estilos.css' %}"/>
</head>
<body>
    <div id="navegacion">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Administración</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img id="logo" class="img-fluid" src="static/miapp/imagenes/usm.png" alt="logo usm">
            </div>
        </div>
    </div>

    <div class="fondo d-flex justify-content-center align-items-center">
        <h1 class="text-white">Calendario de Actividades 2023</h1>

    </div>
    <ul class="sidebar-nav">

      …
  
     {% if user.is_authenticated %}
       <li>User: {{ user.get_username }}</li>
       <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
       {%for group in user.groups.all%}
          {% if group.name == 'Profesor' or group.name == 'Jefe de carrera' %}
              <li>Es profe</li>
          {%else%}
              <li>No es profe</li>
          {%endif%}
       {%endfor%}
     {% else %}
       <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
     {% endif %}
    </ul>
  
    {% block content %}

    {% endblock %}



    <footer>
        <container-fluid>
            <div class="text-center p-3" style="background-color: #F7AE00">
            © 2023
            </div>
        </container-fluid>

    </footer>




    <script src="{% static 'js/bootstrap.js' %}"></script>  

</body>
</html>