.fondo{
    background-image: url(/static/miapp/imagenes/calendario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
}

#calendario{
    padding: 50px;
}

h2{
    text-align: center;
    background-color: #004b85;
    color: white;
    
}

#logo{
    align-items: baseline;
}

footer{
    background-color: #F7AE00;
    padding: 50px;
    color: black;
    font-size: x-large;
}