{% extends 'miapp/base.html' %}

{% block content %}


<div id="calendario">
    <div class="row">
        <h2>Actividades</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hito</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha termino</th>
                    <th scope="col">Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for e in evento %}
                    <tr>
                        <td>{{ e.titulo }}</td>
                        <td>{{ e.fecha_inicio }}</td>
                        <td>{{ e.fecha_termino }}</td>
                        <td>{{ e.tipo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}